<header id="header" class="fixed sm:hidden p-4 bg-gradient-to-r from-slate-700 to-slate-900 text-white flex flex-col sm:flex-row justify-between items-center px-2 md:px-8 lg:px-16 transform transition-transform translate-x-0">
  <button id="left_icon">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 hover:text-slate-300 transition duration-300 ease-in-out">
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
  </svg> 
</button>
    <a href="/" class="text-xl sm:text-2xl hover:text-slate-300 transition duration-300 ease-in-out">Android Integrity Alliance</a>
    <nav class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4 mt-4 sm:mt-0 justify-center sm:justify-start w-full sm:w-auto">
      <a href="/team" class="text-center p-2 hover:text-slate-300 transition duration-300 ease-in-out">
        <i class="fas fa-users pr-1"></i> Our Team
      </a>
      <a href="/contact" class="text-center p-2 hover:text-slate-300 transition duration-300 ease-in-out">
        <i class="fas fa-envelope pr-1"></i> Contact
      </a>
      <a href="/petition" class="text-center py-2 px-4 bg-gradient-to-r from-slate-700 to-slate-800 rounded hover:text-slate-300 transition duration-300 ease-in-out">
        <i class="fas fa-pen pr-1"></i> Petition
      </a>
    </nav>
</header>
<button id="menu-button" class="p-4">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 hover:text-slate-300 transition duration-300 ease-in-out">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
  </svg>
</button>
<script>
  const menu_btn = document.getElementById('menu-button');
  const header = document.getElementById('header');
  const left_icon = document.getElementById('left_icon');
  menu_btn.addEventListener('click', () => {
    header.classList.toggle('-translate-x-full');
  })
  left_icon.addEventListener('click', () => {
    header.classList.add('-translate-x-full');
  })
</script>