<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="/css/output.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-slate-950 text-gray-100">
    <%- include('shards/header') %>
    <main class="p-8">
        <section class="text-center">
            <h1 class="text-4xl font-bold mb-8">Contact Us</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                <div class="flex flex-col items-center">
                    <i class="fab fa-bluesky text-blue-500 text-6xl mb-4"></i>
                    <h2 class="text-xl font-semibold">Bluesky</h2>
                    <a href="https://bsky.app/profile/androidintegrity.bsky.social" class="text-gray-200 underline">@androidintegrity.bsky.social</a>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fab fa-x-twitter text-white-400 text-6xl mb-4"></i>
                    <h2 class="text-xl font-bold">𝕏</h2>
                    <p class="text-gray-400">Coming soon</p>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-envelope text-red-500 text-6xl mb-4"></i>
                    <h2 class="text-xl font-semibold">Email</h2>
                    <a href="mailto:admin@androidintegrity.org" class="text-gray-200 underline">admin<i class="fa-solid fa-at"></i>androidintegrity.org</a>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-envelope text-red-500 text-6xl mb-4"></i>
                    <h2 class="text-xl font-semibold">Press Email</h2>
                    <a href="mailto:press@androidintegrity.org" class="text-gray-200 underline">press<i class="fa-solid fa-at"></i>androidintegrity.org</a>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fab fa-discord text-indigo-500 text-6xl mb-4"></i>
                    <h2 class="text-xl font-semibold">Discord</h2>
                    <a href="https://discord.gg/androidintegrity" class="text-gray-200 underline">discord.gg/androidintegrity</a>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fab fa-telegram text-blue-500 text-6xl mb-4"></i>
                    <h2 class="text-xl font-semibold">Telegram Group</h2>
                    <a href="https://t.me/AndIntAllianceChat" class="text-gray-200 underline">@AndIntAllianceChat</a>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fab fa-telegram text-blue-500 text-6xl mb-4"></i>
                    <h2 class="text-xl font-semibold">Telegram Channel</h2>
                    <a href="https://t.me/AndIntAlliance" class="text-gray-200 underline">@AndIntAlliance</a>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fab fa-tiktok text-white-500 text-6xl mb-4"></i>
                    <h2 class="text-xl font-semibold">TikTok</h2>
                    <a href="https://tiktok.com/@android.integrity" class="text-gray-200 underline">@android.integrity</a>
                </div>
            </div>
        </section>
    </main>
<%- include('shards/footer') %>
