<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/output.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-slate-950 text-gray-100">
    <%- include('shards/header') %>
    <main class="p-1 sm:p-2">
        <section class="flex flex-col items-center justify-center space-y-4 pt-8 sm:pt-16 pb-3 text-center">
            <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold">We're the Android Integrity Alliance</h2>
            <p class="text-base sm:text-lg md:text-xl text-center">We are fighting for a fair and open Android operating system, supporting all types of users.</p>
            <a href="/petition" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
                <i class="fas fa-pen"></i> Sign the Petition
            </a>
        </section>
        <section class="flex flex-col items-center pt-32 px-2 sm:px-4 md:px-8 lg:px-16">
            <div class="w-full flex mb-6">
                <img src="/img/android.png" alt="Android logo" class="w-1/6 max-w-full h-auto">
            </div>
            <div class="w-full">
                <h2 class="text-4xl font-bold pb-6">What we want</h2>
                <p class="text-lg pb-8">Our goal is to rework the Play Integrity system to be inclusive of rooted devices, while maintaining and supporting security. We aim to be a trusted third party to vet custom ROMs, in order to assist Google in being inclusive, yet secure.</p>
                <a href="/about" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out w-full md:w-auto"><i class="fa-solid fa-question pr-1"></i> Learn More</a>
            </div>
        </section>
        <section class="flex flex-col items-center pt-32 px-2 sm:px-4 md:px-8 lg:px-16">
            <div class="w-full flex mb-3">
                <img src="/img/team.png" alt="A team of people standing next to each other" class="w-1/6 max-w-full h-auto">
            </div>
            <div class="w-full">
                <h2 class="text-4xl font-bold pb-6">Who we are</h2>
                <p class="text-lg pb-8">We are a small collective of people passionate about customizing our Android devices and using them to their full extent. We have all been affected by Google's monopolistic practices, especially in regards to Play Integrity.</p>
                <a href="/team" class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out w-full md:w-auto"><i class="fas fa-users pr-1"></i> About our team</a>
            </div>
        </section>
    </main>
<%- include('shards/footer') %>
