<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-slate-950 text-gray-100">
    <%- include('shards/header') %>
    <main class="p-8">
        <section class="text-center">
            <h1 class="text-4xl font-bold mb-8">The AIA Team</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                <div class="flex flex-col items-center">
                    <img src="/img/profiles/alpha.webp" alt="Profile Picture" class="w-32 h-32 rounded-full mb-4">
                    <h2 class="text-xl font-semibold">Alessandro Murru</h2>
                    <p class="text-gray-400">Founder</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="/img/profiles/aidan.jpeg" alt="Profile Picture" class="w-32 h-32 rounded-full mb-4">
                    <h2 class="text-xl font-semibold">Aidan Honor</h2>
                    <p class="text-gray-400">SysAdmin</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="/img/profiles/lucas.png" alt="Profile Picture" class="w-32 h-32 rounded-full mb-4">
                    <h2 class="text-xl font-semibold">Lucas Gabriel<br>Machado de Silva</h2>
                    <p class="text-gray-400">Developer</p>
                </div>
                <div class="flex flex-col items-center">
                    <img src="/img/profiles/blade0.webp" alt="Profile Picture" class="w-32 h-32 rounded-full mb-4">
                    <h2 class="text-xl font-semibold">Blade0</h2>
                    <p class="text-gray-400">Designer</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
